.main-header {
  color: orange;
  background-color: black;
  text-align: center;
  font-family: tahoma
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.flex-item {
  margin: 1em;
  background-color: orange;
  text-align: center;
  width: 5em;
  height 1.5em;
}

.grid-pic {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-desc {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-body {
  display: grid;
  grid-template-columns: auto auto
  grid-gap: 2em 2em;
}

img{
    height: 200px;
}

iframe {
  height: 600px;
  width: 100%;
}
